doctype html
html
  head
    title= __('app.name')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    block content
    script(data-main="js/app", src="js/lib/require.js")