#main
  text-align center
  h2
    font-size 14px
    margin 0
  h3
    margin-top 0
    margin-bottom 25px

#newGame form
  text-align left
  
#joinGame 
  .loading i
    font-size 25px
  ul
    max-height 300px
    overflow auto
  li
    margin-bottom 10px
    a
      display block
      vertical-align middle
      text-align center
      padding 10px 0
      color black
      &:hover
        background-color $brand-info
        text-decoration none;
    div 
      padding 10px 0

.modal
  text-align center
  .modal-footer
    text-align center

#gameboard
  svg
    cursor pointer
  rect
    fill green
    stroke white  
    stroke-width 0.5px
    &[data-last-played="true"]
      fill darken(red, 10)
  circle
    stroke-width 2px
    &[data-color=""]
      display none
      visibility hidden
    &[data-color="white"]
      fill white
      stroke black  
    &[data-color="black"]
      fill black
      stroke white  

#tchat
  text-align left
  font-size 13px
  .pseudo
    font-weight bold
  ul
    border 1px solid darkgrey
    height 251px
    overflow-y auto
    padding 10px
  li
    list-style none
  textarea
    width 100%
    height 58px
    padding 10px
  .message .pseudo
    padding-right 5px

#data
  text-align right
  .score
    margin-top 40px
    border-top 1px dashed darkgrey
    border-bottom 1px dashed darkgrey
    h4
      border-bottom 1px dashed darkgrey
      padding-bottom 5px
  .pseudo:before
    content ""
    display inline-block
    vertical-align -3px
    width 15px
    height 15px
    margin-right 5px
    border 1px solid black
    border-radius 8px
  .turn
    line-height 30px
  .black .pseudo:before
    background-color black
  .white .pseudo:before
    background-color white
  .turn .pseudo
    border 1px solid darkgrey
    border-radius 5px
    padding 5px
    background-color lighten(lightgrey, 10)
  
#header
  margin-top 40px
  margin-bottom 40px
#headerStart
  @extends #header
  border-bottom 1px solid #ddd
  padding-bottom 20px
#headerGame
  @extends #header
  position relative

#alertMessage
  margin-top 20px
  background-color lighten(brand-success, 30)
  p
    margin 0
    padding 15px
    font-size: 20px
  .theOtherTurn .pseudo
    padding-left 8px

#actions
  position absolute
  top 0
  right 0
  a
    margin-left 10px
    
#errorPage h1
  text-align center
